<div class="content">
  <div class="login-card">
    <img src="../../assets/logo.jpeg" alt="">
    <ion-input type="text" label="ID" placeholder="User, Email ou Telefone" [(ngModel)]="user"></ion-input>
    <ion-input type="password" label="Senha" placeholder="Senha" [(ngModel)]="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <ion-button [disabled]="logging" fill="clear" expand="full" (click)="login(user, password)">
      <ion-label *ngIf="!logging">Login</ion-label>
      <ion-spinner *ngIf="logging" name="lines"></ion-spinner>
    </ion-button>
  </div>
  <ion-toast color="{{ toastColor }}" [isOpen]="isToastOpen" message="{{ toastMessage }}" [duration]="5000" position="bottom" swiperGesture="vertical" style="color: white;"
    (didDismiss)="isToastOpen = false"></ion-toast>
</div>