<div class="ion-page" #presentingElement>
    <app-header></app-header>
    <ion-content [fullscreen]="true">
        <ion-progress-bar *ngIf="calendarLoading" type="indeterminate"></ion-progress-bar>
        <div *ngIf="changeLoading" id="loading-screen">
            <ion-spinner name="lines"></ion-spinner>
        </div>
        <div *ngIf="loadError" id="error-screen">
            <ion-button fill="clear" (click)="reloadCalendar()">
                <ion-icon name="reload"></ion-icon>
            </ion-button>
        </div>
        <full-calendar #calendar *ngIf="!calendarLoading && !loadError" [options]="calendarOptions"
            class="calendar"></full-calendar>
        <ion-fab>
            <ion-fab-button>
                <ion-icon name="chevron-up"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button (click)="openChangeBarber(changeBarberModal)" *ngIf="adminLogin">
                    <ion-icon name="person"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="changeCalendarType()">
                    <ion-icon name="{{ calendarType }}"></ion-icon>
                </ion-fab-button>
                <ion-fab-button id="open-add-modal" (click)="resetNewBook(addModal)">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
        <ion-modal #changeBarberModal [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-buttons slot="start">
                        <ion-button (click)="changeBarberModal.dismiss()">Cancelar</ion-button>
                    </ion-buttons>
                    <ion-toolbar>Selecionar Barbeiro</ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-button fill="clear" (click)="reloadBarbermans()" *ngIf="barberLoadingError">
                        <ion-icon name="reload"></ion-icon>
                    </ion-button>
                    <ion-list>
                        <ion-item *ngFor="let barber of barbermans" button="true" (click)="selectBarber(barber, changeBarberModal)">
                            <ion-label>{{ barber.client.name }}</ion-label>
                        </ion-item>
                        <ion-item *ngIf="barberLoading">
                            <ion-label>
                                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #editModal [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="editModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>Editar Agendamento</ion-title>
                        <ion-buttons slot="end">
                            <ion-spinner *ngIf="requestLoading"></ion-spinner>
                            <ion-button *ngIf="!requestLoading" (click)="updateBook(editModal)">Salvar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item button="true" (click)="changeClient(changeClientModal)">
                            <ion-label>Cliente</ion-label>
                            <ion-label>{{ selectedBook.client.name }}</ion-label>
                        </ion-item>
                        <ion-item button="true" (click)="changeBarberman(changeBarbermanModal)">
                            <ion-label>Barbeiro</ion-label>
                            <ion-label>{{ selectedBook.barberman.client.name }}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Data</ion-label>
                            <ion-datetime-button datetime="edit-datetime"></ion-datetime-button>
                        </ion-item>
                        <ion-item button="true">
                            <ion-label>Serviço</ion-label>
                            <ion-label>{{ selectedBook.services.name }}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-button fill="clear" color="danger" (click)="deleteBook(editModal)">Excluir</ion-button>
                        </ion-item>
                    </ion-list>
                    <ion-modal #changeBarbermanModal [presentingElement]="presentingElement">
                        <ng-template>
                            <ion-header>
                                <ion-toolbar>
                                    <ion-buttons slot="start">
                                        <ion-button (click)="changeBarbermanModal.dismiss()">Cancelar</ion-button>
                                    </ion-buttons>
                                    <ion-title>Trocar Barbeiro</ion-title>
                                </ion-toolbar>
                            </ion-header>
                            <ion-content>
                                <ion-item>
                                    <ion-button fill="clear" (click)="reloadBarbermans()" *ngIf="barberLoadingError">
                                        <ion-icon name="reload"></ion-icon>
                                    </ion-button>
                                </ion-item>
                                <ion-list>
                                    <ion-item button="true" *ngFor="let barber of barbermans" (click)="selectBarberman(barber, changeBarbermanModal)">
                                        <ion-label>{{ barber.client.name }}</ion-label>
                                    </ion-item>
                                    <ion-item *ngIf="barberLoading">
                                        <ion-label>
                                            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                    <ion-modal #changeClientModal [presentingElement]="presentingElement">
                        <ng-template>
                            <ion-header>
                                <ion-toolbar>
                                    <ion-buttons slot="start">
                                        <ion-button (click)="changeClientModal.dismiss()">Cancelar</ion-button>
                                    </ion-buttons>
                                    <ion-title>Selecionar cliente</ion-title>
                                </ion-toolbar>
                            </ion-header>
                            <ion-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-input label="Nome" [(ngModel)]="selectedBook.client.name"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-input label="Telefone" [(ngModel)]="selectedBook.client.telephone"></ion-input>
                                    </ion-item>
                                    <ion-item button="true" id="search-client" (click)="searchClient()">
                                        <ion-button fill="clear">Cliente Cadastrado</ion-button>
                                    </ion-item>
                                </ion-list>
                                <ion-modal [presentingElement]="presentingElement" #searchChangeModal trigger="search-client">
                                    <ng-template>
                                        <ion-header>
                                            <ion-toolbar>
                                                <ion-buttons slot="start">
                                                    <ion-button (click)="searchChangeModal.dismiss()">Sair</ion-button>
                                                </ion-buttons>
                                                <ion-title>Selecionar Cliente</ion-title>
                                            </ion-toolbar>
                                        </ion-header>
                                        <ion-content>
                                            <ion-list>
                                                <ion-item *ngIf="!clients">
                                                    <ion-label>
                                                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                                                    </ion-label>
                                                </ion-item>
                                                <ion-item *ngFor="let client of clients" button="true"
                                                    (click)="selectChangeClient(client, searchChangeModal, changeClientModal)">
                                                    <ion-label>{{ client.client.name }}</ion-label>
                                                </ion-item>
                                            </ion-list>
                                        </ion-content>
                                    </ng-template>
                                </ion-modal>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime id="edit-datetime" [(ngModel)]="selectedBook.bookingDate" [min]="minDate"
                            [formatOptions]="{
                        date: {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric'
                        },
                        time: {
                            hour: 'numeric',
                            minute: 'numeric'
                        }
                    }"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #addModal trigger="open-add-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="addModal.dismiss()">Cancelar</ion-button>
                        </ion-buttons>
                        <ion-title>Criar Agendamento</ion-title>
                        <ion-buttons slot="end">
                            <ion-spinner *ngIf="requestLoading"></ion-spinner>
                            <ion-button *ngIf="!requestLoading" (click)="createBook(addModal)">Criar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item>
                            <ion-label>Data</ion-label>
                            <ion-datetime-button datetime="add-datetime"></ion-datetime-button>
                        </ion-item>
                        <ion-item>
                            <ion-select label="Serviço" (ionChange)="changeService($event)">
                                <ion-select-option *ngFor="let service of services" [value]="service.id">{{ service.name
                                    }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item button="true" id="select-client">
                            <ion-button fill="clear">Selecionar Cliente</ion-button>
                        </ion-item>
                    </ion-list>
                    <ion-modal [presentingElement]="presentingElement" #selectModal trigger="select-client">
                        <ng-template>
                            <ion-header>
                                <ion-toolbar>
                                    <ion-buttons slot=start>
                                        <ion-button (click)="selectModal.dismiss()">Cancelar</ion-button>
                                    </ion-buttons>
                                    <ion-title>Selecione o cliente</ion-title>
                                    <ion-buttons slot=end>
                                        <ion-button (click)="selectModal.dismiss()">Aceitar</ion-button>
                                    </ion-buttons>
                                </ion-toolbar>
                            </ion-header>
                            <ion-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-input label="Nome" [(ngModel)]="newBook.client.name"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-input label="Telefone" [(ngModel)]="newBook.client.telephone"></ion-input>
                                    </ion-item>
                                    <ion-item button="true" id="search-client" (click)="searchClient()">
                                        <ion-button fill="clear">Cliente Cadastrado</ion-button>
                                    </ion-item>
                                </ion-list>
                                <ion-modal [presentingElement]="presentingElement" #searchModal trigger="search-client">
                                    <ng-template>
                                        <ion-header>
                                            <ion-toolbar>
                                                <ion-buttons slot="start">
                                                    <ion-button (click)="searchModal.dismiss()">Sair</ion-button>
                                                </ion-buttons>
                                                <ion-title>Selecionar Cliente</ion-title>
                                            </ion-toolbar>
                                        </ion-header>
                                        <ion-content>
                                            <ion-list>
                                                <ion-item *ngIf="!clients">
                                                    <ion-label>
                                                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                                                    </ion-label>
                                                </ion-item>
                                                <ion-item *ngFor="let client of clients" button="true"
                                                    (click)="selectClient(client, searchModal, selectModal)">
                                                    <ion-label>{{ client.client.name }}</ion-label>
                                                </ion-item>
                                            </ion-list>
                                        </ion-content>
                                    </ng-template>
                                </ion-modal>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime id="add-datetime" presentation="date-time" [(ngModel)]="newBook.bookingDate"
                                [min]="minDate" [formatOptions]="{
                                date: {
                                    year: 'numeric',
                                    month: 'short',
                                    day: 'numeric'
                                },
                                time: {
                                    hour: 'numeric',
                                    minute: 'numeric'
                                }
                            }"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-toast class="text-light" color="{{ toastColor }}" [isOpen]="isToastOpen" message="{{ toastMessage }}"
            [duration]="3000" (didDismiss)="isToastOpen = false"></ion-toast>
    </ion-content>
</div>