.content{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/barber-model.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}

.login-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 80%;
    height: 50%;
    padding: 10%;
}

input{
    margin-bottom: 30px;
}

button{
    margin-top: auto;
}

img{
    margin-bottom: 45px;
}