#main-login{
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    background-color: #3e3e3e;
    align-items: center;
    position: absolute;
    background-image: linear-gradient(165deg,#38383893 30%,#3c3c3c9b 100%), url('imgs/barber-model.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#loading-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99
}

#loading-screen .fa-circle-notch{
    color: white;
    height: 45px;
}

#login-card{
    background-color: white;
    height: 60%;
    width: 100%;
    border-radius: 15px;
    padding: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login-card img{
    width: 110%;
    margin-bottom: 20px;
}

#login-card .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-card .col input{
    height: fit-content;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
}

#login-card .col button{
    width: 100%;
}

#main-profile{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #3e3e3e;
    align-items: center;
    position: absolute;
    /* background-image: linear-gradient(165deg,#38383893 30%,#3c3c3c9b 100%), url('imgs/barber-model.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#main-profile .nav-bar{
    background-color: white;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(190deg, transparent 10%, black 10%, black 31%, transparent 31%);
}

#main-profile .nav-bar .row{
    height: 20%;
    align-items: center;
    margin: 0;
}

#main-profile .nav-bar svg{
    padding: 0;
    height: 30px;
    cursor: pointer;
}

#main-profile .nav-bar .fa-user{
    color: white;
}

#main-profile .nav-bar .fa-right-from-bracket, .fa-xmark{
    color: red;
}

#main-profile .profile-content, .profile-credentials, .profile-plans{
    height: 100%;
    width: 80%;
    display: flex;
    background-image: linear-gradient(165deg,#38383893 30%,#3c3c3c9b 100%), url('/assets/imgs/background3.jpg');
}

#main-profile .profile-credentials, .profile-plans{
    display: none;
}

#main-profile .profile-content img{
    margin-top: 30px;
    width: 180px;
    height: 180px;
    padding: 0;
    border: 0.5px solid black;
    border-radius: 100px;
}

#main-profile .profile-content .row, .profile-credentials .row, .profile-plans .row{
    width: 100%;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

#main-profile .profile-content .btn-light{
    width: fit-content;
    height: fit-content;
    color: rgb(9, 142, 237);
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#main-profile .profile-content .btn-dark, .profile-credentials .btn-dark{
    width: 80%;
    background-color: rgb(67, 67, 67);
    border-color: rgb(67, 67, 67);
    font-size: 18px;
    font-weight: 700;
}

#main-profile .profile-content input, .profile-credentials input, .profile-plans input{
    width: 80%;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 6px;
    background-color: rgb(240, 240, 240);
    font-size: 20px;
}

#main-profile .profile-plans .plan-card .row .col{
    padding: 0;
    margin: 0;
}

#main-profile .profile-plans .plan-card{
    width: 80%;
    height: 70%;
    background-color: white;
    margin-top: 30%;
    padding: 20px;
    border-radius: 15px;
}

#main-profile .profile-plans #plan-title{
    font-size: 33px;
}

#main-profile .profile-plans .mt-5{
    text-align: center;
}

#main-profile .profile-plans button{
    width: 90%;
    height: 70px;
    font-size: 30px;
}