<div class="ion-page" #presentingElement>
    <app-header></app-header>
    <ion-content [fullscreen]="true">
        <ion-item lines="none" style="padding: 0;">
            <ion-searchbar #searchbar style="padding: 0;" color="light" (ionInput)="searchUser($event)"></ion-searchbar>
            <ion-button fill="clear" id="open-filter-modal">Filtrar</ion-button>
        </ion-item>
        <ion-refresher slot="fixed" class="bg-dark" (ionRefresh)="refreshUsers($event)">
            <ion-refresher-content pullingIcon="chevron-down" refreshingSpinner="dots"></ion-refresher-content>
        </ion-refresher>
        <ion-list>
            <ion-item>
                <ion-button id="open-add-modal" style="margin: auto;" fill="clear">
                    <ion-icon name="person-add"></ion-icon>
                    Criar Usuário
                </ion-button>
            </ion-item>
            <ion-item-divider *ngIf="userQuery.length > 0">
                <ion-label>Clientes com cadastro</ion-label>
            </ion-item-divider>
            <ion-item-sliding color="light" *ngFor="let user of userQuery">
                <ion-item [button]="true" (click)="openUser(user, userModal)">
                    <ion-avatar slot="start">
                        <img src="{{ user.client.image_url }}" alt="">
                    </ion-avatar>
                    <ion-label>{{ user.client.name }}</ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option color="medium" (click)="openUser(user, userModal)">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="deleteUser(user, userModal)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list>
            <ion-item-divider *ngIf="tempClientQuery.length > 0">
                <ion-label>Clientes sem cadastro</ion-label>
            </ion-item-divider>
            <ion-item-sliding color="light" *ngFor="let client of tempClientQuery">
                <ion-item [button]="true" (click)="openClient(client, clientModal)" id="open-client-modal">
                    <ion-avatar slot="start">
                        <img src="{{ client.image_url }}" alt="">
                    </ion-avatar>
                    <ion-label>{{ client.name }}</ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option color="medium" (click)="openClient(client, clientModal)" id="open-client-modal">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="deleteClient(client, clientModal)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngIf="!userQuery.length && !tempClientQuery.length">
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-modal #clientModal trigger="open-client-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons>
                            <ion-button (click)="clientModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>{{ selectedClient.name }}</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input autocomplete="name" (ionInput)="filterOnlyString($event)" label="Nome" autocapitalize="on" [(ngModel)]="selectedClient.name"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input autocomplete="tel" label="Telefone" [(ngModel)]="selectedClient.telephone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear">Realizar Convite</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear" (click)="deleteClient(selectedClient, clientModal)"
                                color="danger">Excluir</ion-button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #filterModal trigger="open-filter-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="resetFilter(filterModal)">Reset</ion-button>
                        </ion-buttons>
                        <ion-title>Filtrar Usuários</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="applyFilter(filterModal)">Aplicar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="Usuário" [(ngModel)]="user" (ionInput)="filterUser($event)"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Email" errorText="Email Inválido" type="email" email [(ngModel)]="email"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" [(ngModel)]="phone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="CPF" [(ngModel)]="cpf"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Aniversariante?</ion-label>
                            <ion-toggle slot="end" [checked]="aniversary" [(ngModel)]="aniversary"></ion-toggle>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Usuário Cadastrado?</ion-label>
                            <ion-toggle slot="end" [checked]="activeUser" [(ngModel)]="activeUser"></ion-toggle>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Recebeu Bônus</ion-label>
                            <ion-toggle slot="end" [checked]="anualBonus" [(ngModel)]="anualBonus"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #userModal trigger="open-user-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="userModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>{{ selectedUser.client.name }}</ion-title>
                        <ion-buttons slot="end">
                            <ion-button #saveButton (click)="saveUser(userModal, saveButton)"><ion-label
                                    *ngIf="!saveUserButton">Salvar</ion-label><ion-spinner *ngIf="saveUserButton"
                                    name="lines"></ion-spinner></ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="User" (ionInput)="filterUser($event)" autocomplete="username" [(ngModel)]="selectedUser.user"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Nome" autocomplete="name" autocapitalize="on" (ionInput)="filterOnlyString($event)" [(ngModel)]="selectedUser.client.name"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Email" autocomplete="email" errorText="Email Inválido" type="email" email [(ngModel)]="selectedUser.email"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" autocomplete="tel" [(ngModel)]="selectedUser.client.telephone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Data de Nascimento</ion-label>
                            <ion-datetime-button datetime="datetime"></ion-datetime-button>
                            <input [(ngModel)]="birthDate" *ngIf="birthDate == ''" class="form-control" type="date"
                                name="date">
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="CPF" autocomplete="cpf" [(ngModel)]="selectedUser.client.cpf" disabled></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Cargo: </ion-label>
                            <ion-button id="open-role-modal" fill="clear">{{ selectedUser.role[0].name }}</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear" id="open-bonus-modal">Dar Bonus</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear" (click)="deleteUser(selectedUser, userModal)"
                                color="danger">Excluir</ion-button>
                        </ion-item>
                    </ion-list>
                    <ion-modal #bonusModal trigger="open-bonus-modal" [presentingElement]="presentingElement">
                        <ng-template>
                            <ion-header>
                                <ion-toolbar>
                                    <ion-buttons slot="start">
                                        <ion-button (click)="handleBonusDismiss(bonusModal)">Cancelar</ion-button>
                                    </ion-buttons>
                                    <ion-title>Bônus</ion-title>
                                    <ion-buttons slot="end">
                                        <ion-button (click)="applyBonus(bonusModal)">Aplicar</ion-button>
                                    </ion-buttons>
                                </ion-toolbar>
                            </ion-header>
                            <ion-content>
                                <ion-list>
                                    <ion-item color="light">
                                        <ion-select label="Tipo de Bônus" placeholder="Selecione" (ionChange)="changeBonusType($event)">
                                            <ion-select-option value="Aniversário">Aniversário</ion-select-option>
                                            <ion-select-option value="Fidelidade">Fidelidade</ion-select-option>
                                            <ion-select-option value="Tempo de Serviço">Tempo de Serviço</ion-select-option>
                                            <ion-select-option value="Gratificação">Gratificação</ion-select-option>
                                            <ion-select-option value="Promoção">Promoção</ion-select-option>
                                            <ion-select-option value="Natal">Natal</ion-select-option>
                                            <ion-select-option value="Outra Festival">Outra Comemoração</ion-select-option>
                                            <ion-select-option value="Outro Motivo">Outro Motivo</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item color="light">
                                        <ion-label slot="start">Validade do Bônus</ion-label>
                                        <ion-datetime-button datetime="bonus-datetime"></ion-datetime-button>
                                        <ion-modal [keepContentsMounted]="true">
                                            <ng-template>
                                                <ion-datetime 
                                                id="bonus-datetime"
                                                presentation="date-time"
                                                [(ngModel)]="bonusExpiration"
                                                [formatOptions]="{
                                                    date: {
                                                        day: '2-digit',
                                                        month: '2-digit',
                                                        year: '2-digit'
                                                    },
                                                    time: {
                                                        hour: '2-digit',
                                                        minute: '2-digit'
                                                    }
                                                }"
                                                ></ion-datetime>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-item>
                                    <ion-item color="light">
                                        <ion-input [disabled]="currentBonus != 'Outro Motivo'" label="Motivo do Bônus" [(ngModel)]="bonusReason"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                    <ion-modal class="role-modal" [initialBreakpoint]="0.35" #roleModal trigger="open-role-modal">
                        <ng-template>
                            <ion-toolbar>
                                <ion-buttons slot="start">
                                    <ion-button (click)="roleModal.dismiss()">Cancelar</ion-button>
                                </ion-buttons>
                                <ion-buttons slot="end">
                                    <ion-button (click)="applyRole(currentRole, roleModal)">Aplicar</ion-button>
                                </ion-buttons>
                            </ion-toolbar>
                            <ion-picker>
                                <ion-picker-column [value]="currentRole" (ionChange)="onRoleChange($event)">
                                    <ion-picker-column-option value="0">Administrador</ion-picker-column-option>
                                    <ion-picker-column-option value="1">Funcionário</ion-picker-column-option>
                                    <ion-picker-column-option value="2">Cliente</ion-picker-column-option>
                                </ion-picker-column>
                            </ion-picker>
                        </ng-template>
                    </ion-modal>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime id="datetime" presentation="date" [(ngModel)]="birthDate" [formatOptions]="{
                                date:{
                                    day: '2-digit',
                                    month: 'long',
                                    year: 'numeric'
                                }
                            }"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #addModal trigger="open-add-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-content>
                    <ion-header>
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-button (click)="addModal.dismiss()">Sair</ion-button>
                            </ion-buttons>
                            <ion-title>Criar Usuário</ion-title>
                            <ion-buttons slot="end">
                                <ion-button (click)="createUser(addModal)">Criar</ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="User" (ionChange)="filterUser($event)" [(ngModel)]="newUser.user"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Nome" autocapitalize="on" (ionInput)="filterOnlyString($event)" [(ngModel)]="newUser.client.name"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Email" errorText="Email Inválido" type="email" email></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" [(ngModel)]="newUser.client.telephone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="CPF" [(ngModel)]="newUser.client.cpf"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Data de Nascimento</ion-label>
                            <ion-datetime-button datetime="add-datetime"></ion-datetime-button>
                            <ion-modal [keepContentsMounted]="true">
                                <ng-template>
                                    <ion-datetime 
                                    id="add-datetime"
                                    presentation="date"
                                    [(ngModel)]="newUser.client.birthDate"
                                    [formatOptions]="{
                                        date: {
                                            day: '2-digit',
                                            month: 'long',
                                            year: 'numeric'
                                        }
                                    }"
                                    ></ion-datetime>
                                </ng-template>
                            </ion-modal>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-toast color="{{ toastColor }}" [isOpen]="isToastOpen" message="{{ toastMessage }}" [duration]="5000"
            (didDimiss)="setToastOpen(false)" position="bottom" swiperGesture="vertical"
            style="color: white;" (didDismiss)="isToastOpen = false"></ion-toast>
    </ion-content>
</div>