<div class="ion-page" #presentingElement>
    <app-header></app-header>
    <ion-content [fullscreen]="true">
        <ion-item lines="none" style="padding: 0;">
            <ion-searchbar style="padding: 0;" color="light" (ionInput)="searchUser($event)"></ion-searchbar>
            <ion-button fill="clear" id="open-filter-modal">Filtrar</ion-button>
        </ion-item>
        <ion-refresher slot="fixed" color="light" (ionRefresh)="refreshUsers($event)">
            <ion-refresher-content pullingIcon="chevron-down" refreshingSpinner="dots"></ion-refresher-content>
        </ion-refresher>
        <ion-list>
            <ion-item>
                <ion-button id="open-add-modal" style="margin: auto;" fill="clear">
                    <ion-icon name="person-add"></ion-icon>
                    Criar Usuário
                </ion-button>
            </ion-item>
            <ion-item-divider *ngIf="userQuery.length > 0">
                <ion-label>Clientes com cadastro</ion-label>
            </ion-item-divider>
            <ion-item-sliding color="light" *ngFor="let user of userQuery">
                <ion-item [button]="true" (click)="openUser(user, userModal)" id="open-user-modal">
                    <ion-avatar slot="start">
                        <img src="{{ user.client.image_url }}" alt="">
                    </ion-avatar>
                    <ion-label>{{ user.client.name }}</ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option color="medium" (click)="openUser(user, userModal)" id="open-user-modal">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list>
            <ion-item-divider *ngIf="tempClientQuery.length > 0">
                <ion-label>Clientes sem cadastro</ion-label>
            </ion-item-divider>
            <ion-item-sliding color="light" *ngFor="let client of tempClientQuery">
                <ion-item [button]="true" (click)="openClient(client, clientModal)" id="open-client-modal">
                    <ion-avatar slot="start">
                        <img src="{{ client.image_url }}" alt="">
                    </ion-avatar>
                    <ion-label>{{ client.name }}</ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option color="medium" (click)="openClient(client, clientModal)" id="open-client-modal">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngIf="!userQuery.length && !tempClientQuery.length">
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
            <ion-item-sliding color="light">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-modal #clientModal trigger="open-client-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons>
                            <ion-button (click)="clientModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>{{ selectedClient.name }}</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="Nome" [(ngModel)]="selectedClient.name"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" [(ngModel)]="selectedClient.telephone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear">Realizar Convite</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear" (click)="deleteClient(selectedClient, clientModal)" color="danger">Excluir</ion-button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #filterModal trigger="open-filter-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="resetFilter(filterModal)">Reset</ion-button>
                        </ion-buttons>
                        <ion-title>Filtrar Usuários</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="applyFilter()">Aplicar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>

                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #userModal trigger="open-user-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="userModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>{{ selectedUser.client.name }}</ion-title>
                        <ion-buttons slot="end">
                            <ion-button #saveButton (click)="saveUser(userModal, saveButton)"><ion-label
                                    *ngIf="!saveUserButton">Salvar</ion-label><ion-spinner *ngIf="saveUserButton"
                                    name="lines"></ion-spinner></ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="User" [(ngModel)]="selectedUser.user"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Nome" [(ngModel)]="selectedUser.client.name"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Email" [(ngModel)]="selectedUser.email"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" [(ngModel)]="selectedUser.client.telephone"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Data de Nascimento</ion-label>
                            <ion-datetime-button datetime="datetime"></ion-datetime-button>
                            <input *ngIf="birthDate == ''" class="form-control" type="date" name="date">
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="CPF" [(ngModel)]="selectedUser.client.cpf" disabled></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Cargo: </ion-label>
                            <ion-button id="open-role-modal" fill="clear">{{ selectedUser.role[0].name }}</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear">Dar Bonus</ion-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-button fill="clear" (click)="deleteUser(selectedUser, userModal)" color="danger">Excluir</ion-button>
                        </ion-item>
                    </ion-list>
                    <ion-modal [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35]" #roleModal trigger="open-role-modal"
                        (didDismiss)="applyRole(currentRole, roleModal)">
                        <ng-template>
                            <ion-content color="light">
                                <ion-toolbar>
                                    <ion-buttons slot="start">
                                        <ion-button (click)="roleModal.dismiss()">Cancelar</ion-button>
                                    </ion-buttons>
                                    <ion-buttons slot="end">
                                        <ion-button (click)="applyRole(currentRole, roleModal)">Aplicar</ion-button>
                                    </ion-buttons>
                                </ion-toolbar>
                                <ion-picker>
                                    <ion-picker-column [value]="currentRole"
                                        (ionChange)="currentRole = $event.detail.value">
                                        <ion-picker-column-option value="0">Administrador</ion-picker-column-option>
                                        <ion-picker-column-option value="1">Funcionário</ion-picker-column-option>
                                        <ion-picker-column-option value="2">Membro</ion-picker-column-option>
                                    </ion-picker-column>
                                </ion-picker>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime id="datetime" presentation="date" [(ngModel)]="birthDate" [formatOptions]="{
                                date:{
                                    day: '2-digit',
                                    month: 'long',
                                    year: 'numeric'
                                }
                            }"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #addModal trigger="open-add-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-content>
                    <ion-header>
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-button (click)="addModal.dismiss()">Sair</ion-button>
                            </ion-buttons>
                            <ion-title>Criar Usuário</ion-title>
                            <ion-buttons slot="end">
                                <ion-button (click)="createUser(addModal)">Criar</ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-toast color="{{ toastColor }}" [isOpen]="isToastOpen" message="{{ toastMessage }}" [duration]="5000"
            (didDimiss)="setToastOpen(false)" position="bottom" swiperGesture="vertical"
            style="color: white;"></ion-toast>
    </ion-content>
</div>