<div class="ion-page" #presentingElement>
    <app-header></app-header>
    <ion-content [fullscreen]="true">
        <ion-item lines="none" style="padding: 0;">
            <ion-searchbar style="padding: 0;" color="light" (ionInput)="searchUser($event)"></ion-searchbar>
            <ion-button fill="clear" id="open-filter-modal">Filtrar</ion-button>
        </ion-item>
        <ion-refresher slot="fixed" color="light" (ionRefresh)="refreshUsers($event)">
            <ion-refresher-content pullingIcon="chevron-down" refreshingSpinner="dots"></ion-refresher-content>
        </ion-refresher>
        <ion-list>
            <ion-item-sliding color="light" *ngFor="let user of userQuery">
                <ion-item [button]="true" (click)="openUser(user, userModal)" id="open-user-modal">
                    <ion-avatar slot="start">
                        <img src="{{ user.client.image_url }}" alt="">
                    </ion-avatar>
                    <ion-label>{{ user.client.name }}</ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option color="medium" (click)="openUser(user, userModal)" id="open-user-modal">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-modal #filterModal trigger="open-filter-modal" 
            [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="resetFilter(filterModal)">Reset</ion-button>
                        </ion-buttons>
                        <ion-title>Filtrar Usuários</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="applyFilter()">Aplicar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    
                </ion-content>
            </ng-template>
        </ion-modal>
        <ion-modal #userModal trigger="open-user-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="userModal.dismiss()">Sair</ion-button>
                        </ion-buttons>
                        <ion-title>{{ selectedUser.client.name }}</ion-title>
                        <ion-buttons slot="end">
                            <ion-button>Salvar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item color="light">
                            <ion-input label="User" value="{{ selectedUser.user }}"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Nome" value="{{ selectedUser.client.name }}"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Email" value="{{ selectedUser.email }}"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="Telefone" value="{{ selectedUser.client.telephone }}"></ion-input>
                        </ion-item>
                        <ion-item color="light">
                            <ion-label slot="start">Data de Nascimento</ion-label>
                            <ion-datetime-button datetime="datetime"></ion-datetime-button>
                        </ion-item>
                        <ion-item color="light">
                            <ion-input label="CPF" value="{{ selectedUser.client.cpf }}" disabled></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime
                            id="datetime"
                            presentation="date"
                            value="{{ birthDate }}"
                            [formatOptions]="{
                                date:{
                                    day: '2-digit',
                                    month: 'long',
                                    year: 'numeric'
                                }
                            }"
                            ></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
    </ion-content>
</div>