<app-header></app-header>
<main>
    <div class="welcome-container text-light">
        <h1>Bem-vindo</h1>
        <h2>Cliente</h2>
    </div>
    <ion-card class="intro-card" color="light">
        <ion-header>
            <ion-toolbar color="light">
                <ion-title>Notificações</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content color="light">
            <ion-refresher slot="fixed" color="light" (ionRefresh)="refreshNotification($event)">
                <ion-refresher-content pullingIcon="chevron-down"
                refreshingSpinner="dots"></ion-refresher-content>
            </ion-refresher>
            <ion-list color="light">
                <ion-item id="notification" [button]="true" *ngIf="notificationConfig.serviceToday && notificationData.serviceToday > 0" color="light" routerLink="/book">
                    <ion-icon color="success" slot="start" name="calendar"></ion-icon>
                    <ion-label>Agendamentos para Hoje</ion-label>
                    <ion-badge color="success">{{ notificationData.serviceToday }}</ion-badge>
                </ion-item>
                <ion-item id="notification" [button]="true" *ngIf="notificationConfig.billExpired && notificationData.billExpired > 0" color="light" routerLink="/bill">
                    <ion-icon color="danger" slot="start" name="logo-usd"></ion-icon>
                    <ion-label>Faturas vencidas</ion-label>
                    <ion-badge color="danger">{{ notificationData.billExpired }}</ion-badge>
                </ion-item>
                <ion-item id="notification" [button]="true" *ngIf="notificationConfig.billPending && notificationData.billPending > 0" color="light" routerLink="/bill">
                    <ion-icon color="warning" slot="start" name="logo-usd"></ion-icon>
                    <ion-label>Faturas a vencer</ion-label>
                    <ion-badge color="warning">{{ notificationData.billPending }}</ion-badge>
                </ion-item>
                <ion-item id="notification" [button]="true" *ngIf="notificationConfig.birthsToday && notificationData.birthsToday > 0" color="light" routerLink="/users">
                    <ion-icon color="warning" slot="start" name="people"></ion-icon>
                    <ion-label>Aniversariantes de hoje</ion-label>
                    <ion-badge color="warning">{{ notificationData.birthsToday }}</ion-badge>
                </ion-item>
                <ion-item id="notification" [button]="true" *ngIf="notificationConfig.birthsMonth && notificationData.birthsMonth > 0" color="light" routerLink="/users">
                    <ion-icon color="success" slot="start" name="people"></ion-icon>
                    <ion-label>Aniversariantes no mês</ion-label>
                    <ion-badge color="success">{{ notificationData.birthsMonth }}</ion-badge>
                </ion-item>
                <ion-item color="light" *ngIf="notificationError">
                    <ion-label>Erro ao recuperar notificações</ion-label>
                    <ion-icon color="warning" name="warning"></ion-icon>
                </ion-item>
                <ion-item id="notification-loader" color="light">
                    <ion-spinner style="margin-left: auto; margin-right: auto;" name="crescent"></ion-spinner>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-card>
</main>